<div class="container">
  <%= form_with(model: @article || Article.new, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
    <%= render 'shared/errors', obj: @article %>
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="form-group">
          <%= f.label :title, class: "text-light" %>
          <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article" %>
        </div>

        <div class="form-group">
          <%= f.label :description, class: "text-light" %>
          <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of article" %>
        </div>
        <div class="form-group">
          <%= f.label :category, class: "col-2 col-form-label text-light" %>
        
            <div class="row">
              <% Category.all.each do |category| %>
                <div class="col-md-3">
                  <div class="form-check">
                    <%= f.check_box :category_ids, { multiple: true }, category.id, nil %>
                    <%= label_tag "category_#{category.id}", category.name, class: "form-check-label" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        
        <div class="form-group">
          <%= f.submit "Save Article", class: "btn btn-outline-light btn-lg mt-2" %>
          <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info" %>
        </div>
      </div>

    </div>
  <% end %>
</div>
